.lex_grid {
    display: grid;
    /*grid-template-columns: repeat(auto-fill, minmax(1.5em, 1fr));*/
    grid-template-columns: repeat(fit-content(10em,1em));
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;*/
  }
  
.result {
    background-color: lightblue ;
    /*border-style: dashed;*/
    border: .1em dashed gray;
    font-size: .9em;
}

.letter {
    font-size: 1em;
}